/* colors */
$black: #000;
$white: #fff;
$gray-100: #505050;
$yellow-100: #f9e100;
$yellow-200: #f0c816;
$purple-100: #4f46f6;
$purple-200: #2e27c1;

/* font-family */
$roboto: "Roboto", arial, serif;
$jaro: "Jaro", arial, sans-serif;
